/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/css
/public/index.html
/storage/*.key
/vendor
/.idea
.env
package-lock.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
graph.png
.vapor/
.env.production
.env.staging
.env.beta
.DS_STORE
ca.homestead.homestead.crt
