body {
    padding-top: 70px;
}

.builder-form .panel {
    margin-bottom: 0;
}

.builder-inner-actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.editable-field {

}

.editable-field:hover {
    background: #fafafa;
    cursor: move;
}

.editable-field label:hover {
    cursor: move;
}

.editable-field-actions {
    text-align: right;
    padding-left: 0;
}

.fas + span {
    margin-left: .5em;
}

.editable-field-actions .btn {
    margin-left: 6px;
}

.editable-field-close {
    justify-content: center;
}

.rjsf > .form-group {
    margin-bottom: 0px !important;
}

/*.field-editor .btn{
    margin-left: 6px;
}*/

.editfield-title {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.editfield-title strong{
    margin-left: 5px;
}

.editfield-body {
    border: 1px dashed #ccc;
    padding-top: 10px;
}

.panel-heading {
    margin-bottom: 10px;
}

.panel-heading .panel-title {
    display: inline-block;
}

.panel-body{

}

.preview-title {
    display: inline-block;
    margin-bottom: 10px;
}

/***background-color: lightyellow;  **/
.btn-toolbar {
    float: right;
    height: 100%;
    align-items: center;
}

.btn-toolbar .btn {
    margin-left: 6px;
}

.repeater-add-btn {
    margin-bottom: 10px;
    float: right;
}

.answer-modal {
    display: flex;
    justify-content: center
}

.answer-modal .btn-submit {
    margin-top: 10px;
}

.answer-modal p {
    text-align: center;
}

.module-folder-expand:hover{
    opacity: 0.3;
}

/***ProgramModuleSendView***/
.avatar-learner {
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
    padding: 0;
}

/* Global styles for tabs */
.nav-tabs {
    background: #f9f9f9;
    border: none;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 20px;

    .nav-link {
        border: 1px solid #e7e7e7;
        border-radius: 0;
        line-height: 2.5;

        font-weight: bold;
        color: #c4c4c4;
    }

    .nav-link.active, .nav-item.show .nav-link {
        border-color: #e7e7e7;
        border-bottom: 2px solid #0062cc;
        background-color: #f9f9f9;

        color: #3e3e3e;
    }
}
