.login-container {

  color: #3e3e3e;

  .page-title {
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 34px;
  }

  .form-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 40px 0 30px;
  }

  .auth-form {
    .errors-list {
      padding-left: 15px;
      color: #dc3545;
    }
    .form-group {
      &.field-object {
        margin-bottom: 0;
      }

      &.has-error {
        & > .form-control {
          border-color: #dc3545;
        }

        .error-detail {
          display: none;
        }
      }
    }
    .form-actions {
      display: flex;
      flex-wrap: wrap;

      .title {
        margin: 20px 0 10px;
        font-size: smaller;
        font-weight: bold;
      }

      .social-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & > .btn {
          flex-basis: 48%;
        }
      }

      .submit-button {
        width: 48%;
        margin: 20px auto;
      }
    }
  }
}
