.rich-editor-root{    
    display: block !important;    
    height: 300px !important;
    overflow: hidden;
}

.rich-editor-wrapper{
    width: 100% !important;
    display: block !important;
    margin-bottom: 20px !important;
    height: 100% !important;
}

.rich-editor-textarea{
    height:200px;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}
