.rich-editor-root{    
    display: table !important;    
    min-height: 300px !important;
    min-width: 200px;
    max-height: 400px;    
}

.rich-editor-wrapper{
    width: 100% !important;
    display: block !important;    
    height: 100% !important;
}

.rich-editor-textarea{    
    min-height: 140px;
    max-height: 200px;
    height: auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

legend {
  display: block;  
  border-bottom: 1px solid lightgray;
}

.rank-item:hover {    
    cursor: move;
}

.rank-item span:hover {    
    cursor: move;
}

.mediaMax{
    max-width: 300px;
    max-height: 300px;
}

.rich-editor-btn-save{
    float:right;
    margin-bottom: 10px;
    margin-top: 10px
}